:root {
  --weight-light: 300;
  --weight-regular: 400;
  --weight-semibold: 600;
  --weight-bold: 700;
  --weight-black: 900;

  --size-16: 2.75rem;
  --size-15: 2.5rem;
  --size-14: 2.25rem;
  --size-13: 2rem;
  --size-12: 1.75rem;
  --size-11: 1.5rem;
  --size-10: 1.25rem;
  --size-9: 1rem;
  --size-8: 0.875rem;
  --size-7: 0.75rem;
  --size-6: 0.625rem;
  --size-5: 0.5rem;
  --size-4: 0.375rem;
  --size-3: 0.25rem;
  --size-2: 0.125rem;
  --size-1: 1px;
  --size-0: 0;

  --logo-color: #5338ea;
  --complementary-color: #cfea38;
  --white-color: #fff;
  --black-color: #000;
}
